*:focus {
    outline: 0;
}

fieldset {
    margin:1px;
    border-color:#F00;
    border-style: solid;
    border-width: 3px;
}

.separator {
    height: 1px;
    color: #00F;
    background-color: #00F;
    border: none;
}

.textcenter {
    width: 100%;
    text-align:center
}

input {
    margin:2px 2px 2px 2px;
}

button {
    margin:2px 2px 2px 2px;
    background-color: #000;
    color:#0F0;
    font-family: 'Gloria Hallelujah', cursive;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #0f0;
}

button:hover {
    background-color: #0f0;
    color: #000;
}

input[type="text"], input[type="password"], textarea {
    background-color: transparent;
    border: 0px solid;
    border-bottom: 1px dashed;
    color:#0F0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    width: auto;
    float: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

html{
    background-color:#000;
    color:#0F0;
}

body {
    height: 98vh;
    width: calc(100% - 10px);
    font-family: 'Gloria Hallelujah', cursive;
}

.loginButton{
    float: right;
    margin-top: 10px;
}

.loginBanner {
    font-family: 'Bangers';
    font-size: 30px;
}

.loginBannerBig {
    font-family: 'Bangers';
    font-size: 90px;
}

.loginBox {
    height: 120px;
    width:  350px;
    border-color: #00F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.loginBoxCenter {
    position:absolute;
    left:50%;
    top:50%;
    margin: -60px 0 0 -175px
}

.loginBoxInputText {
    background-color: transparent;
    border: 0px solid;
    border-bottom: 1px dashed;
    color:#0F0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    width: auto;
    float: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: -4px;
}

.loginBoxLabel {
    background-color: transparent;
    color:#0F0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}

.menuCol{
    float:left;
    width:180px;
    height: calc(100% - 110px);
    border-color:#00F;
    margin:1px;
    margin-top: 0px;
}

.scrollContainer {
    overflow: scroll;
    overflow-x:hidden;
    overflow-y:visible;
    height: 180px;
}

.chat {
    border: 1px solid;
}

.mainColHeight {
    height: calc(100% - 110px);
}

@media screen and (max-width: 400px) {
    .mainCol {
        float: none;
        width:auto;
        height: auto;
    }
}

.footer {
    height: 20px;
    width: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container {
    overflow: scroll;
}

.header {
    height: 30px;
    width: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.banner {
    margin-bottom: 5px;
    font-family: 'Bangers';
    font-size: 13px;
}

.bannerBig {
    margin-bottom: 5px;
    font-family: 'Bangers';
    font-size: 39px;
}

.title{
    display: inline;
    float: left;
}

.logout{
    display: inline;
    float: right;
    font-family: 'Gloria Hallelujah', cursive;
}

.clear{
    clear: both;
}

ol{
    list-style-type:none;
    margin: 1px;
    padding: 0px;
    float: left;
}

ol a {
    color:#0F0;
}

ol li a {
    display:block;
    width: 178px;
    text-decoration: none
}
ol li a:hover {
    background:#2f2;
    color:#000;
    border-radius: 5px;
}