<fieldset class="window" ng-controller='chatController'>
    <legend class="windowLegend">CHAT EXAMPLE</legend>
    <div class="chat">
        <span>Incoming Chat: </span>
        <div scroll-glue id="scrollContainer" class="scrollContainer">
            <ul ng-bind-html="messageLog"></ul>
        </div>
        <div class="chatControl">
            <form ng-submit="sendMessage(message)"><span class="messageLabel">Message: </span><input type="text"  ng-model='message' id="outgoingChatMessage">
            <button id="chatSubmit">SUBMIT</button></form>
        </div>
    </div>
</fieldset>