<fieldset class="window" ng-controller='chatController'>
    <legend class="windowLegend">CHAT EXAMPLE</legend>
    <div class="chat">
        <span>Incoming Chat: </span>
        <div id="scrollContainer" class="scrollContainer">
            <ul>{{messageLog}}</ul>

        </div>
        <div class="chatControl">
            <span class="messageLabel">Message: </span><input type="text" ng-model='message' id="outgoingChatMessage">
            <button id="chatSubmit" ng-click="sendMessage(message)">SUBMIT</button>
        </div>
    </div>
</fieldset>